<div class="container">

  <h3 class="card-title text-center mb-2 mt-1 text-danger">Seu histórico de pedidos</h3>
  <h4 *ngIf="qtdTtlLvrsCliente > 1" class="card-title text-center mb-2 mt-1 text-dark">Você já comprou {{ qtdTtlLvrsCliente }} livros</h4>
  <h4 *ngIf="qtdTtlLvrsCliente == 1" class="card-title text-center mb-2 mt-1 text-dark">Você comprou {{ qtdTtlLvrsCliente }} livro</h4>

  <div *ngFor="let item of pedidosCliente">

    <div class="container">
      <div class="shadow p-2 mb-3 bg-white rounded">
        <div class="row">
          <div class="col-lg-1">
            <a [routerLink]="['/livro-detalhes', item.ISBN]">
              <img class="img-responsive"
                src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{item.ISBN}}.01.THUMBZZZ.jpg" alt="" />
            </a>
          </div>&nbsp;&nbsp;
          <div class="col-lg-9">
            <b>Order ID: {{item.orderID}}</b>&nbsp;&nbsp; {{item.orderdate | date}}
            <br />

            <a [routerLink]="['/livro-detalhes', item.ISBN]" class="booktitle"> {{item.title}}</a>
            <br>

            by <a [routerLink] = "['/livrosAutor/', item.AuthorID]">  {{item.nameF }} {{ item.nameL}}</a>
            <br>

            Qty:&nbsp;{{ item.qty }}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
