<br>

<div class="shadow p-3 mb-5 bg-white rounded">

    <div class="row">

        <div class="col-sm-7" >
             <p>Tabela com os dados do pedido</p>

             <pre>Order Confirmation

                Order Number:	3407
                Shipping Address:	dasdas asdasdasdas
                dasdasda
                dsdsa, AL 12323
                Books Shipped:	
                Title	Qty	Price	Total	
                Don't Make Me Think	1	$28.00	$28.00
                Sub-total:	$28.00
                Shipping:	$3.49
                Total:</pre>

        </div>

       
    </div>
<hr>
    <a routerLink="/home">
        <button type="button" class="btn btn-outline-success  btn-block">Continuar comprando</button><br>
    </a>

    <a routerLink="/historico">
        
        <button type="button" class="btn btn-outline-info  btn-block">Ver historico de Compra</button>

    </a>
</div>