<div id="pageContent">

  <p class="pageTitle2" *ngIf="2 > qtdItensCart"> {{qtdItensCart}} item em seu carrinho </p>
  <p class="pageTitle2" *ngIf="qtdItensCart > 1"> {{qtdItensCart}} itens em seu carrinho </p>



  <table class="table table-bordered" id="cart" *ngIf="subTotalPedido > 0 ">
    <tbody>
      <tr>
        <th>Título</th>

        <th>Qtde</th>

        <th>Preço</th>

        <th>Total</th>

        <th></th>
      </tr>
      <tr *ngFor='let c of carrinho'>
        <td><a [routerLink]="['/livro-detalhes', c.objLivro.ISBN]">{{ c.objLivro.title }}</a></td>
        <td>{{ c.qtdCart }}</td>
        <td>{{ c.objLivro.price }}</td>
        <td>{{ c.qtdCart*c.objLivro.price | currency:'BRL' }}</td>
        <td> <button class="btn btn-primary" (click)="adicionar(c.objLivro)">Adiconar</button>&nbsp;&nbsp; <button
            class="btn btn-danger" (click)="remover(c.objLivro.ISBN)">Remover</button></td>
      </tr>

    </tbody>
  </table>
  <br>

  <table class="cartTotal" *ngIf="subTotalPedido > 0 ">
    <tbody>
      <tr>
        <td> Sub-Total:</td>
        <td align="right"> {{ subTotalPedido | currency: 'BRL' }} </td>
      </tr>
      <tr>
        <td> Frete:*</td>
        <td align="right"> {{ qtdItensCart*.99+2.5 | currency: 'BRL' }} </td>
      </tr>
      <tr>
        <td><b>Total:</b></td>
        <td align="right"><b> {{ subTotalPedido+(qtdItensCart*.99+2.5) | currency: 'BRL' }} </b></td>
      </tr>
    </tbody>
  </table>


  <div class="cartIcons">
    <a routerLink="/livros" class="btn btn-warning">Continuar comprando </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/login" class="btn btn-success">Concluir compra</a>
  </div>


  <p id="shipping">
    * O custo do envio é de R$3.49 para o primeiro livro e R$.99 para cada livro adicional.
    Para garantir a entrega em boas condições mantendo o custo baixo nós enviamos todos os livros
    via PAC.

  </p>



  <!-- end page content *************** -->
</div>
