<div id="pageContent">

  <p class="pageTitle2"> 10 items in your cart </p>
  <table class="table table-bordered" id="cart">
    <tbody>
        <tr>
            <th>Título</th>

            <th>Qtde</th>

            <th>Preço</th>

            <th>Total</th>

            <th></th>
          </tr>
      <tr>
        <td><a class="booktitle" href="ProductPage.php?isbn=007184158X">JavaScript: 20 Lessons to Successful Web
            Development</a></td>
        <td>
          2
        </td>
        <td class="bookPrice">
          $30.39</td>
        <td class="bookPrice">
          $60.78</td>
        <td style="text-align:center">
          <a href="?addISBN=007184158X">Adicionar</a><br>
          <a href="?deleteISBN=007184158X">Remover</a>
        </td>
      </tr>
      <tr>
        <td><a class="booktitle" href="ProductPage.php?isbn=0596006810">Programming PHP</a></td>
        <td>
          1
        </td>
        <td class="bookPrice">
          $21.11</td>
        <td class="bookPrice">
          $21.11</td>
        <td style="text-align:center">
          <a href="?addISBN=0596006810">Adicionar</a><br>
          <a href="?deleteISBN=0596006810">Remover</a>
        </td>
      </tr>
      <tr>
        <td><a class="booktitle" href="ProductPage.php?isbn=0672325675">Teach Yourself SQL in 10 Minutes</a></td>
        <td>
          7
        </td>
        <td class="bookPrice">
          $11.99</td>
        <td class="bookPrice">
          $83.94</td>
        <td style="text-align:center">
          <a href="?addISBN=0672325675">Adicionar</a><br>
          <a href="?deleteISBN=0672325675">Remover</a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>

  <table class="cartTotal">
    <tbody>
      <tr>
        <td> Sub-Total:</td>
        <td align="right"> R$165.84 </td>
      </tr>
      <tr>
        <td> Envio:*</td>
        <td align="right"> R$12.40 </td>
      </tr>
      <tr>
        <td><b>Total:</b></td>
        <td align="right"><b> R$178.24 </b></td>
      </tr>
    </tbody>
  </table>


  <div class="cartIcons">
    <a routerLink="/livros"> <img border="0"
        src="https://renovagrafix.com.br/botaocontinuar.png" width="150"
        height="40" alt="Continuar comprando"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/login"> <img border="0"
        src="https://renovagrafix.com.br/finalizarpedido.png"
        width="150" height="40" alt="Concluir compra"></a>
  </div>


  <p id="shipping">
    * O custo do envio é de R$3.49 para o primeiro livro e R$.99 para cada livro adicional.
    Para garantir a entrega em boas condições mantendo o custo baixo nós enviamos todos os livros
    via PAC.

  </p>



  <!-- end page content *************** -->
</div>