<div>

  <!--DIV RESPONSAVEL PELO TEXTO DO SITEFEATURES-->

  <div>

    <p class="pageTitle">Site Features</p>
    <ul>
      <li>Site desenvolvido por três alunos graduandos na disciplina de Desenvolvimento de Sistemas na WEB pela<a
          href="https://unifei.edu.br/"> Universidade Federal de Itajubá.</a> </li>
      <li>As tecnologias utilizadas para o projeto foram <a href="https://angular.io/">Angular</a>,
        <a href="https://nodejs.org/en/">Node</a> e <a href="https://www.mysql.com/">mySQL.</a></li>
      <li>As iformações referentes aos produtos, clientes e pedidos foram armazenadas utilizando um banco de dados
        <a href="https://www.mysql.com/">mySQL.</a>
      </li>
      <li><span class="subHead">Banco de dados <a href="https://www.mysql.com/">mySQL</a></span>
        <ul>
          <li>Normalizada para a Terceira forma normal. As tables incluem:
            <ul>
              <li>descrição dos livros</li>
              <li>categoria dos livros</li>
              <li>relacionamento descrição-livros (vários para vários) </li>
              <li>autores</li>
              <li>relacionamento autor-livros (vários para vários) </li>
              <li>clientes</li>
              <li>pedidos</li>
              <li>itens pedidos (um para vários) </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><span class="subHead"><a routerLink="/livros">Home page</a></span>
        <ul>
          <li>Seleciona de forma aleatória três itens do banco de dados, utilizando comandos SQL.</li>
          <li>Gera o menu de busca dinamicamente a partir do banco de dados usando uma query SQL.
            Se não houver livros na categoria exibe uma mensagem.
          </li>
          <li>Limita e padroniza a descrição dos livros em até 200 caracteres.</li>
        </ul>
      </li>
      <li><span class="subHead">Mecanismo de busca</span>
        <ul>
          <li>Limpa os dados preenchidos por usuários para sua proteção contra ataques por injeções SQL e
            cross-site scripting. </li>
          <li>As buscas são feitas pelo título do livro, descrição, autor e
            campos de categorias no banco de dados.</li>
          <li>A função mysql_num_rows() é utilizada para contar o número de livros encontrados pela busca.
          </li>
          <li>Responde por buscas que retornam nenhum resultado.</li>
        </ul>
      </li>

      <li><span class="subHead">Página de Checkout</span>
        <ul>
          <li>Procura pelos emails existentes no banco de dados
            as contas dos clientes e escreve nas informações de envio na forma da ordem de confirmação.</li>
        </ul>
      </li>
      <li><span class="subHead">Página de confirmação de pedido</span>
        <ul>
          <li>Checa por carrinhos de compra e avisa o usuário caso o carrinho esteja vazio.</li>
          <li>Todos os campos são verificados para assegurar que há informação neles.</li>
          <li>Procura pelos emails existentes no banco de dados e pede ao usuário para tentar novamente
            se o endereço não for encontrado.</li>
          <li>Modificações feitas sobre as informações do consumidor são atualizadas no banco.</li>
          <li>As informações do pedido são salvas no banco.</li>
        </ul>
      </li>
      <li><span class="subHead">Histórico de pedidos</span>
        <ul>
          <li>Procura no banco todos os pedidos associados com o ID do cliente.</li>
          <li>Se nenhum resultado for encontrado haverá um aviso.</li>
        </ul>
      </li>
      <li>Obrigado ao site do <a href="https://baldochi.unifei.edu.br/COM222/"> Baldochi</a> pelo o uso das imagens
        fornecidas e descrição dos livros.</li>

    </ul>

  </div>
</div>
