<br />
<div class="d-flex justify-content-center shadow p-3 mb-5 bg-white rounded ">
  <article class="card-body col-10">
    <h5 class="card-title text-center mb-4 mt-1">Bem vindo ao nosso site!<br>Por favor, forneça um endereço para entrega!</h5>
    <h4 class="card-title text-center mb-4 mt-1">Complete seu Cadastro</h4>
    <hr />

    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationTooltip01">Primeiro nome</label>
          <input
            type="text"
            class="form-control"
            id="validationTooltip01"
            placeholder="Nome"
            name="nomeP"
            [(ngModel)]="cliente.nomeP"
            maxlength="150"
          />
          <div class="valid-tooltip">
            Tudo certo!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationTooltip02">Sobrenome</label>
          <input
            type="text"
            class="form-control"
            id="validationTooltip02"
            placeholder="Sobrenome"
            name="nomeS"
            [(ngModel)]="cliente.nomeS"
            maxlength="150"
          />
          <div class="valid-tooltip">
            Tudo certo!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationTooltipUsername">Email</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              id="validationTooltipUsername"
              placeholder="Email"
              name="email"
              [(ngModel)]="cliente.email"
              value=""
              maxlength="150"
            />
            <div class="invalid-tooltip">
              CPF invalido
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip03">Cidade</label>
          <input
            type="text"
            class="form-control"
            id="validationTooltip03"
            placeholder="Cidade"
            name="city"
            [(ngModel)]="cliente.city"
            maxlength="50"
          />
          <div class="invalid-tooltip">
            Por favor, informe uma cidade válida.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip04">Estado</label>
          <input
            type="text"
            class="form-control"
            id="validationTooltip04"
            placeholder="Estado"
            name="state"
            [(ngModel)]="cliente.state"
            maxlength="2"
          />
          <div class="invalid-tooltip">
            Por favor, informe um estado válido.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip05">CEP</label>
          <input
            type="text"
            class="form-control"
            id="validationTooltip05"
            placeholder="CEP"
            name="cep"
            [(ngModel)]="cliente.cep"
            maxlength="9"
          />
          <div class="invalid-tooltip">
            Por favor, informe um CEP válido.
          </div>
        </div>
        <div class="col-md-9 mb-3">
          <label for="validationTooltip05">Endereço</label>
          <input
            type="text"
            class="form-control"
            id="validationTooltip05"
            placeholder="Endereço"
            name="end"
            [(ngModel)]="cliente.end"
            maxlength="150"
          />
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip05">Nº</label>
          <input
            type="number"
            class="form-control"
            id="validationTooltip05"
            placeholder="Numero"
            name="number"
            [(ngModel)]="cliente.number"
            maxlength="10"
          />
        </div>

        <div class="col-md-11 mb-3">
          <label for="validationTooltip05">Ponto de Referencia</label>
          <input
            type="text"
            class="form-control"
            id="validationTooltip05"
            placeholder="Ponto de Referencia"
            name="referencia"
            [(ngModel)]="cliente.referencia"
            maxlength="150"
          />
          <div class="invalid-tooltip">
            Por favor, informe um CEP válido.
          </div>
        </div>
      </div>

      <div
        *ngIf="
          cliente.referencia != null &&
          cliente.number != null &&
          cliente.end != null &&
          cliente.state != null &&
          cliente.cep != null &&
          cliente.city != null &&
          cliente.email != null &&
          cliente.nomeS != null &&
          cliente.nomeP != null
        "
      >
        <button class="btn btn-primary" (click)="cadastro()">Enviar</button>
      </div>

      <div
        *ngIf="
          cliente.referencia == null ||
          cliente.number == null ||
          cliente.end == null ||
          cliente.state == null ||
          cliente.cep == null ||
          cliente.city == null ||
          cliente.email == null ||
          cliente.nomeS == null ||
          cliente.nomeP == null
        "
      >
        <button class="btn btn-danger" disabled>
          Preenchar todos os campos
        </button>
      </div>
      <br />
      <div
        *ngIf="resposta.protocol41 === true"
        class="alert alert-success"
        role="alert"
      >
        Cadastro Realizado com sucesso

        <br />
      </div>

      <div *ngIf="resposta.protocol41 === true">



        <div>
            <table>
                <tr>
                <td>
                    <div>
                        <button class="btn btn-warning" [routerLink]="['/livros']">
                          Continuar comprando
                        </button>
                    </div>
                </td>
                <td>
                    <div>
                        <button class="btn btn-success" (click)="CadastroItem()">
                            Finalizar Pedido
                          </button>
                    </div>
                </td>
                </tr>
            </table>
        </div>

      </div>
    </form>
  </article>
</div>
