

  <div  class="text-center ">
    <a href="http://localhost:4200/">
      <img src="/assets/img/logo.png" alt="GeekBooks">
    </a>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  
    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200">Home <span class="sr-only">(página atual)</span></a>
        </li>
        
       
        
      </ul>

      <a href="#"><i class="far fa-address-card"><span class="about"> Entre ou Cadastre-se</span> </i></a>
     
      <a href="#" style="margin: 0 15px;" alt="shopping cart"><i class="fas fa-shopping-cart"></i></a>

      
    </div>
  </nav>