<header>

  <div class="logo">
    <a href="topo.component.html">
      <img src="/assets/img/logo.png" alt="GeekBooks">
    </a>
  </div>

  <div class="utilities IsDesktop">
    <map name="utilities">
      <area href="#ShoppingCart" shape="rect" coords="0,0,104,22" alt="Shopping Cart" />
      <area href="#checkout01" shape="rect" coords="105,0,216,22" alt="Your Account" />
    </map>
   
     
      <a href="#"><i class="far fa-address-card"><span class="about"> Entre ou Cadastre-se</span> </i></a>
     
      <a href="#" style="margin: 0 15px;" alt="shopping cart"><i class="fas fa-shopping-cart"></i></a>

 
     
    
  


  </div>

  <div class="mobileLinks IsMobile">
    <a href="#ShoppingCart">Cart</a>
    <a href="#checkout01">Account</a>
    <a href="#about">About</a>
  </div>

</header>