<div class='container'>
  <div class="row">
    <div class="col-lg-3">
      <a routerLink="/livros">
        <img src="/assets/img/logo.png" alt="GeekBooks">
      </a>
    </div>

    <div class="col-lg-7">
      <a routerLink="/login"><i style="margin: 0 15px;" class="far fa-address-card"><span class="about"> Entre ou
            Cadastre-se</span> </i></a>
      |
      <a routerLink="/carrinho" style="margin: 0 15px;" alt="shopping cart"><i class="fas fa-shopping-cart"></i></a>
      |
      <a routerLink="/sitefeatures" class="far fa-info-circle"> Site Features<span class="about"></span></a>



    </div>
  </div>
</div>