<br>

<div class="shadow p-3 mb-5 bg-white rounded">
   
        
   
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group" style="width: 13rem;">
          <div class="card-header text-center">
          Pesquise
          </div>
          <input  class="form-control mr-sm-2" type="text" name="Nome" id="Nome" [(ngModel)]="nomeLivro"  placeholder="Insira nome do livro"> 
         <button class="btn btn-outline-success my-2 my-sm-2" (click)="pesquisar()">Pesquisar</button>
      </div>

      <br>
      <div class="list-group" style="width: 13rem;">
        <div class="card-header text-center">
          Categorias
        </div>
        <select class="browser-default custom-select" type="text" [(ngModel)]="dadosCategoria" (click)="categorias()">
            <option *ngFor="let item of colecaoCategorias" [ngValue]="item" >{{item.CategoryName}}</option>
        </select>

        

      </div>
    </div>


    <div class="col-sm-7">
      <div class="news" *ngFor="let item of colecaoLivros">
        <div class="title">
          <a class="booktitle" href="{{item.ISBN}}"> {{item.title}}</a>
        </div>
        <img class="img-responsive"
          src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{item.ISBN}}.01.THUMBZZZ.jpg" alt="" />
        <div innerHTML="{{item.description.substring(0,200) }}...">
        </div>
        <p class="more">
          <a href="#">read more</a><i class="fa fa-angle-right" aria-hidden="true"></i>
        </p>
        <hr>
      </div>
    </div>



  </div>

</div>
