<body>
    <div class="page">
        <div id="leftColumn">
            <!--Begin menu include -->

            <div class="menuContainer">
                <div class="menuSearch">
                    <div class="menuHead">
                        Search
                    </div>

                    <div class="menuBorder">
                        <form action="SearchBrowse.php">
                            <input type="text" name="search" autofocus />
                            <input type="submit" value="Search" class="button fullWidth" />
                        </form>
                    </div>
                </div>

                <nav class="IsDesktop">
                    <div class="menuHead">
                        Browse
                    </div>

                    <div class="menuBorder">

                        <a href='SearchBrowse.php?catID=5&catName=ASP.NET' class='menuitem'>ASP.NET</a><br />
                        <a href='SearchBrowse.php?catID=9&catName=JavaScript' class='menuitem'>JavaScript</a><br />
                        <a href='SearchBrowse.php?catID=2&catName=MySQL' class='menuitem'>MySQL</a><br />
                        <a href='SearchBrowse.php?catID=1&catName=PHP' class='menuitem'>PHP</a><br />
                        <a href='SearchBrowse.php?catID=6&catName=Regular%20Expressions' class='menuitem'>Regular
                            Expressions</a><br />
                        <a href='SearchBrowse.php?catID=4&catName=SQL' class='menuitem'>SQL</a><br />
                        <a href='SearchBrowse.php?catID=3&catName=Web%20Usability' class='menuitem'>Web
                            Usability</a><br />

                    </div>
                </nav>
            </div>

            <!--End menu include -->
        </div>
        <!-- start dynamic content -->
        <div id="pageContent">


            <div class="bookSimple">
                <a class="booktitle" href="ProductPage.php?isbn=0596005431"> Web Database Applications with PHP & MySQL
                </a>
                <br />

                <a href="ProductPage.php?isbn=0596005431">
                    <img class="Book" alt="Web Database Applications with PHP & MySQL"
                        src="/sandvig/mis314/assignments/bookstore/bookimages/0596005431.01.THUMBZZZ.jpg">
                </a>

                <p> There are many reasons for serving up dynamic content from a web site: to offer an online shopping
                    site,
                    create customized information pages for users, or just manage a large volume of content through a
                    database. Anyone with a modest knowledge
                    <a href="ProductPage.php?isbn=0596005431">more...</a>
            </div>

            <div class="bookSimple">
                <a class="booktitle" href="ProductPage.php?isbn=0672326728"> PHP & MySQL Web Development </a> <br />

                <a href="ProductPage.php?isbn=0672326728">
                    <img class="Book" alt="PHP & MySQL Web Development"
                        src="/sandvig/mis314/assignments/bookstore/bookimages/0672326728.01.THUMBZZZ.jpg">
                </a>

                <p>The PHP server-side scripting language and the MySQL database management system (DBMS) make a potent
                    pair. Both are open-source products--free of charge for most purposes--remarkably strong, and
                    capable of
                    handling all but the most enormous tra
                    <a href="ProductPage.php?isbn=0672326728">more...</a>
            </div>

            <div class="bookSimple">
                <a class="booktitle" href="ProductPage.php?isbn=1590595726"> Beginning ASP.NET 2.0 in C# </a> <br />

                <a href="ProductPage.php?isbn=1590595726">
                    <img class="Book" alt="Beginning ASP.NET 2.0 in C#"
                        src="/sandvig/mis314/assignments/bookstore/bookimages/1590595726.01.THUMBZZZ.jpg">
                </a>

                <p><em>Beginning ASP.NET 2.0 in C# 2005: From Novice to Professional</em> steers you through the maze of
                    ASP.NET web programming concepts. You will learn language and theory simultaneously, mastering the
                    core
                    techniques necessary to develop good co
                    <a href="ProductPage.php?isbn=1590595726">more...</a>
            </div>



        </div>
    </div>
</body>